.Loan-Calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 1.5rem;
    height: 100%;
    width: 50%;
    padding-left: 2rem;
}
h1{
    font-weight: bold;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}
.input input{
    width: 80%;
    border: none;
    outline: none;
    background-color: cadetblue;
}
label{
    font-weight: bold;
    color: rgb(0, 124, 128);
    font-size: larger;
}
span{
    color: brown;
}
fieldset{
    width: 80%;
    padding: 5px 10px;
    border-radius: 5px;
}
select{
    width: 100%;
    border: none;
    outline: none;
    /* width: 10rem; */
}
.minToMax{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.minToMax span{
    color:grey;
}